<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projetandoo.allinshopping" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ShoppingCartActivity"
            android:label="@string/shopping_cart"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ClienteActivity"
            android:label="@string/cliente"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PagamentoActivity"
            android:label="@string/pagamento"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListClientesActivity"
            android:label="@string/clientes"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AutenticacaoParaEnvioDePedidoActivity"
            android:label="Enviar Pedido"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AutenticacaoAtualizacaoSistemaActivity"
            android:label="Atualizar o Sistema"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CartaoCreditoActivity"
            android:label="@string/title_activity_cartao_credito"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail" android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
