<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projetandoo.allinshopping">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:largeHeap="true"
        android:allowBackup="true" android:label="@string/app_name" android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <activity android:label="@string/app_name" android:name="com.projetandoo.allinshopping.MainActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.projetandoo.allinshopping.HomeActivity"
            android:screenOrientation="landscape"/>
        <activity android:label="@string/shopping_cart"
            android:name="com.projetandoo.allinshopping.ShoppingCartActivity"
            android:screenOrientation="landscape"/>
        <activity android:label="@string/cliente" android:name="com.projetandoo.allinshopping.ClienteActivity"
            android:screenOrientation="landscape"/>
        <activity android:label="@string/pagamento"
            android:name="com.projetandoo.allinshopping.PagamentoActivity"
            android:screenOrientation="landscape"/>
        <activity android:label="@string/clientes"
            android:name="com.projetandoo.allinshopping.ListClientesActivity"
            android:screenOrientation="landscape"/>
        <activity android:label="Enviar Pedido"
            android:name="com.projetandoo.allinshopping.AutenticacaoParaEnvioDePedidoActivity"
            android:screenOrientation="landscape"/>
        <activity android:label="Atualizar o Sistema"
            android:name="com.projetandoo.allinshopping.AutenticacaoAtualizacaoSistemaActivity"
            android:screenOrientation="landscape"/>
        <activity android:label="@string/title_activity_cartao_credito"
            android:name="com.projetandoo.allinshopping.CartaoCreditoActivity"
            android:screenOrientation="landscape"/>
        <activity android:label="@string/title_activity_configuration"
            android:name="com.projetandoo.allinshopping.ConfigurationActivity"
            android:screenOrientation="landscape"/>
    </application>







</manifest>
